version: "3.8"

services:
  backend:
    image: node:18
    container_name: pillar-backend
    working_dir: /app
    volumes:
      - ./backend:/app
    command: npm start
    ports:
      - "4000:4000"

  frontend:
    image: node:18
    container_name: pillar-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: npm start
    ports:
      - "3000:3000"
